@config '../../tailwind.config.ts';
@import 'tailwindcss';

@layer base {
	:root {
		font-family:
			Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
		font-synthesis: none;

		/* Light theme (default) */
		--color-foreground: 0 0 0;
		--color-background: 255 255 255; /* White */
		--color-text: 100 100 100;
		--color-contrast-text: 255 255 255;
		--color-border: 222 222 222;
		--color-muted-foreground: 102 102 102;
		--color-muted-background: 245 245 245;
		--color-primary: 0 201 80;
		--color-secondary: 0 153 255;
		--color-secondary-hover: 0 119 204;

		color-scheme: light;
		color: rgb(var(--color-text));
		background: rgb(var(--color-background));
	}

	html.dark {
		/* Dark theme */
		--color-foreground: 255 255 255;
		--color-background: 51 51 51;
		--color-border: 77 77 77;
		--color-muted-foreground: 153 153 153;
		--color-muted-background: 64 64 64;
		--color-text: 220 220 220;

		color-scheme: dark;
		background: rgb(var(--color-background));
	}

	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		min-width: 20rem;
		min-height: 100vh;
	}

	button,
	input {
		font: inherit;
	}

	button,
	a {
		-webkit-tap-highlight-color: transparent;
	}
}
